@font-face {font-family:"silkscreen"; src: url('https://dl.dropbox.com/s/l0frac4d7bz3zx6/silkscreen.ttf');}

* {
    box-sizing: border-box;
    font-size: small;
}
.matter-select {
    background-color: #18181D;
}
body {
    margin: 0;
    padding: 0;
}

.matter-header h1 a {
    font-size: 10px;
    font-family:silkscreen;
}

select.matter-example-select.matter-select {
    font-size: 10px;
    font-family:silkscreen;

}

.matter-link {
    pointer-events: none;
    font-size: 10px;
    font-family:silkscreen;
    color: white;
}

.matter-logo {
    visibility: hidden;
}